dash==2.14.0
dash-auth==2.0.0
dash-bootstrap-components==1.1.0
dash-bootstrap-templates==1.0.5
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer
dash-table
gunicorn==21.2.0
numpy==1.26.1
pandas==2.1.1
plotly==5.17.0
python-dotenv==1.0.0
zipp